import React from "react";

type TitleProps = {
  title: string;
  description?: string;
  Icon: any;
};

const Header: React.FC<TitleProps> = ({ title, Icon, description }) => {
  return (
    <div className="flex flex-col gap-1 w-fit">
      <h1 className="flex gap-2 items-center justify-start w-full text-xl md:text-3xl font-medium">
        <Icon
          className="h-8 w-8 text-primary drop-shadow-md"
          strokeWidth={1.3}
        />{" "}
        {title}
      </h1>
      <p className="text-sm text-muted-foreground">{description}</p>
    </div>
  );
};

export default Header;
